body {
  margin: 0;
  padding: 0;
  background: white;
}
.container-home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 7rem 2rem;
  box-sizing: border-box;
  flex-direction: row;
  overflow: hidden;
}
.img-body {
  box-sizing: border-box;
  height: 700px;
}
.img-fluid {
  margin-left: 5rem;
  width: 90%;
}
.body-text {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.website-name {
  color: #ffdf6c;
}
.about {
  text-align: center;
  font-size: 1.5rem;
}

.greetings {
  color: #707070;
  display: block;
  font-size: 2rem;
}
.name-text {
  color: #202020;
  display: block;
  font-size: 2.3rem;
  padding: 0.5rem 0rem;
  font-weight: 600;
}
.footer {
  z-index: -3;
  position: absolute;
  width: 95%;
  bottom: 0;
  height: 2.5rem;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 0.5rem;
}
@media screen and (max-width: 768px) {
  .container-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8rem 1.5rem;
  }
  .greetings {
    font-size: 1.3rem;
  }
  .name-text {
    font-size: 1.3rem;
  }
  .about {
    font-size: 1rem;
  }

  .img-fluid {
    margin-left: 3rem;
    margin-top: 10rem;
    padding: 6rem 0rem;
    height: 50vh;
  }
  .footer {
    margin-left: -1rem;
    margin-bottom: -4rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1068px) {
  .container-home {
    width: 75vh;
    height: 92vh;
    display: flex;
    padding: 10rem 2rem;
  }
  .greetings {
    font-size: 1.5rem;
  }
  .name-text {
    font-size: 1.7rem;
  }
  .about {
    font-size: 1.5rem;
  }
  .img-container {
    margin-left: -120rem;
  }
  .img-fluid {
    margin-top: 20rem;
    padding: 6rem 0rem;
    height: 50vh;
  }
}
