body {
  margin: 0;
  padding: 0;
  background: white;
  z-index: 10;
}
.container-home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 7rem 2rem;
  box-sizing: border-box;
  flex-direction: row;
  overflow: hidden;
}

.img-container {
  position: absolute; /* This is the key */
  height: 25rem;
  margin-top: -2%;
  margin-left: 70%;
  width: 25rem;
}
.body-text {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.website-name {
  color: #ffdf6c;
}
.about {
  width: 60%;
  font-size: 1.5rem;
}

.greetings {
  color: #707070;
  display: block;
  font-size: 2rem;
}
.name-text {
  color: #202020;
  display: block;
  font-size: 2.3rem;
  padding: 0.5rem 0rem;
  font-weight: 600;
}
.footer-home {
  position: absolute;
  z-index: -3;
  width: 95%;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .container-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8rem 1.5rem;
  }
  .greetings {
    font-size: 1.3rem;
  }
  .name-text {
    font-size: 1.3rem;
  }
  .about {
    width: 100%;
    font-size: 1rem;
  }

  .img-container {
    position: absolute;
    height: 20rem;
    width: 20rem;
    margin-top: 20rem;
    margin-left: 2rem;
    width: 80%;
  }
  .footer-home {
    bottom: -5rem;
    position: absolute;
    z-index: -3;
    width: 100%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .img-container {
    margin-left: 3%;
    margin-top: 80%;
    padding: 6rem 0rem;
    height: 70vh;
    width: 90%;
  }
  .footer-home {
    bottom: -20rem;
    position: absolute;
    z-index: -3;
    width: 100%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1180px) {
  .container-home {
    width: 100%;
    height: 92vh;
    display: flex;
    padding: 10rem 2rem;
  }
  .greetings {
    font-size: 1.5rem;
  }
  .name-text {
    font-size: 1.7rem;
  }
  .about {
    width: 100%;
    font-size: 1.5rem;
  }
  .img-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 45%;

    height: 40vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-home {
    width: 100%;
    height: 92vh;
    display: flex;
    padding: 10rem 2rem;
  }
  .greetings {
    font-size: 1.5rem;
  }
  .name-text {
    font-size: 1.7rem;
  }
  .about {
    width: 100%;
    font-size: 1.5rem;
  }
  .img-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 45%;

    height: 40vh;
  }
}
